<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Blog" %></title>

    <meta name="description" content="I am a rocket scientist wannabe who's passionately in love with web stuff">
    <meta name="author" content="Ivana Setiawan">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/ico">

    <%= stylesheet_link_tag "normalize", "assets/stylesheets/sass/blog" %>
    <%= javascript_include_tag  "assets/js/modernizr" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="wrap">
      <header class="mainheader">
        <h1 class="blog-header">
          Funny, interesting, creepy, or weird stuff
          <br />
          {
          <span>around me</span>
          }
          <br />
          <span class="star-note">* Warning: PG-13 // I am not joking, I really do swear a lot. Maybe less on typing - but just in case.</span>
        </h1>
        
        <!-- PARTIAL -->
        <nav role="navigation">
          <a href="index.html#projects">Projects <span>art</span></a>
          <a href="about.html">About <span>bio</span></a>
          <a href="blog.html">Blog <span>notes</span></a>
          <a href="contact.html">Contact <span>ivana</span></a>
        </nav>
        <a class="go-home" href="index.html">&laquo; home</a>

      </header>
      
      <article class="is-blog">
        <%= yield %>
      </article>
    
    </div>
    
    <footer class="mainfooter">
      <div class="wrap">
        This is the footer
      </div>  
    </footer>
    <%= javascript_include_tag  "assets/js/jquery", "assets/js/application" %>
  </body>
</html>
