---
title: Blog
---

<div class="wrap">
	<header class="mainheader js_menu">
		<%= partial "nav" %>

		<h1 class="blog-header">
			Funny, interesting, creepy, or weird stuff
			<br />
			{
			<span>around me</span>
			}
			<br />
			<span class="star-note">* Warning: PG-13 // I am not joking, I really do swear a lot. Maybe less on typing - but just in case.</span>
		</h1>
	</header>

	<% blog.articles.each do |article| %>
		<article class="is-blog">
			<a href="<%= article.url %>">
				<h2>
					<%= article.title %>
					<time><%= article.date.strftime('%b %e %Y') %></time>
				</h2>

				<%= article.summary %>

				<span class="read-more">Read more..</span>
			</a>
		</article>
	<% end %>
</div>